<%= form_with(model: commune, local: true) do |form| %>
  <% if commune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commune.errors.count, "error") %> prohibited this commune from being saved:</h2>

      <ul>
        <% commune.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :region_id %>
    <%= form.text_field :region_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sil_code %>
    <%= form.text_field :sil_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
