<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Warehouse location</th>
      <th>Quantity</th>
      <th>Incoming quantity</th>
      <th>Outgoing quantity</th>
      <th>Blocked quantity</th>
      <th>Lot code</th>
      <th>Lot elaboration date</th>
      <th>Lot expiration date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.product_id %></td>
        <td><%= stock.warehouse_location_id %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.incoming_quantity %></td>
        <td><%= stock.outgoing_quantity %></td>
        <td><%= stock.blocked_quantity %></td>
        <td><%= stock.lot_code %></td>
        <td><%= stock.lot_elaboration_date %></td>
        <td><%= stock.lot_expiration_date %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
