<p id="notice"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
    <li class="breadcrumb-item active">Entregas</li>
  </ol>
</nav>



<h1>Entregas</h1>


<table class='table table-striped'>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Bodega</th>
      <th>EN</th>
      <th>OP</th>
      <th>OD</th>
      <th>Lineas</th>
      <th>Items</th>
      <th>Documento Respaldo EN</th>
      <th>Observacion</th>
      <th>HR</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @delivered_orders.each do |delivered_order| %>
      <tr>
        <td><%= link_to delivered_order.customer.client_code, customer_path(delivered_order.customer) %></td>
        <td><%= delivered_order.warehouse.name %></td>
        <td><%= link_to delivered_order.delivery_number, delivered_order_path(delivered_order) %></td>
        <td><%= delivered_order.picking_order_number %></td>
        <td><%= link_to delivered_order.order_number, delivered_order_path(delivered_order) %></td>
        <td><%= delivered_order.delivered_order_products.count %></td>
        <td><%= delivered_order.delivered_order_products.sum(:quantity) %></td>
        <td><%= delivered_order.order_backup_document %></td>
        <td><%= delivered_order.order_observation %></td>
        <td><%= delivered_order.delivery_route_number %></td>

        <td><%= link_to 'Ver', delivered_order, class: "btn btn-sm btn-success" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col">
    <%= will_paginate @products %>
  </div>
</div>









