<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
    <li class="breadcrumb-item active">Entregas</li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<h2>Entregas</h2>

<%= form_tag(delivered_orders_path, method: :get) do %>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <%= select_tag 'customer_id', options_for_select(Customer.all.order(name: :asc).collect{ |u| [u.name, u.id] }, selected: params[:customer_id]), :prompt => "TODOS", class: "form-control" %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <%= text_field_tag 'en', params[:en], placeholder: "EN", class: "form-control" %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <%= text_field_tag 'od', params[:od], placeholder: "OD", class: "form-control" %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <%= text_field_tag 'hr', params[:hr], placeholder: "HR", class: "form-control" %>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <%= text_field_tag 'backup_document', params[:backup_document], placeholder: "Doc Respaldo", class: "form-control" %>
    </div>


  </div>
  <div class="row">
    <div class="col-6">
      <%= submit_tag "BUSCAR", class:"btn btn-sm btn-info" %>
    </div>
  </div>
<br>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Bodega</th>
      <th>EN</th>
      <th>OP</th>
      <th>OD</th>
      <th>Lineas</th>
      <th>Items</th>
      <th>Documento Respaldo EN</th>
      <th>Observacion</th>
      <th>HR</th>

    </tr>
  </thead>

  <tbody>
    <% @delivered_orders.each do |delivered_order| %>
      <tr>
        <td><%= link_to delivered_order.customer.client_code, customer_path(delivered_order.customer) %></td>
        <td><%= delivered_order.warehouse.name %></td>
        <td><%= link_to delivered_order.delivery_number, delivered_order_path(delivered_order) %></td>
        <td><%= delivered_order.picking_order_number %></td>
        <td><%= link_to delivered_order.order_number, delivered_order_path(delivered_order) %></td>
        <td><%= delivered_order.delivered_order_products.count %></td>
        <td><%= delivered_order.delivered_order_products.sum(:quantity) %></td>
        <td><%= delivered_order.order_backup_document %></td>
        <td><%= delivered_order.order_observation %></td>
        <td><%= delivered_order.delivery_route_number %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col">
    <%= will_paginate @products %>
  </div>
</div>









