<p id="notice"><%= notice %></p>

<div class="emp-profile">

        <div class="row">

            <div class="col-md-12">
                <div class="profile-head">
                  <h5>
                      EN: <%= @delivered_order.delivery_number %>
                  </h5>
                  <h5>
                      HR: <%= @delivered_order.delivery_route_number %>
                  </h5>
                  <h5>
                      OP: <%= @delivered_order.delivery_route_number %>
                  </h5>
                  <h6>
                      <%= "#{@delivered_order.customer.client_code} - #{@delivered_order.warehouse.name}" %>
                  </h6>
                  <p class="proile-rating">CUMPLIMIENTO : <span> Dias</span></p>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="true">Productos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">General EN</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="op-tab" data-toggle="tab" href="#op" role="tab" aria-controls="op" aria-selected="false">General OP</a>
                      </li>
                  </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                          <table class="table table-striped table-sm">
                                            <thead>
                                              <tr>
                                                <th>SKU</th>
                                                <th>Nombre</th>
                                                <th>Cantidad</th>
                                                <th>Lote</th>
                                              </tr>
                                            </thead>

                                            <tbody>
                                              <% @delivered_order_products.each do |delivered_order_product| %>
                                                <tr>
                                                  <td><%= delivered_order_product.product.product_code %></td>
                                                  <td><%= link_to delivered_order_product.product.name, product_path(delivered_order_product.product) %></td>
                                                  <td><%= delivered_order_product.quantity %></td>
                                                  <td><%= delivered_order_product.lot_code %></td>
 
                                              <% end %>
                                            </tbody>
                                            <tfoot>
                                              <tr>
                                                <th></th>
                                                <th>total</th>
                                                <th><%= @delivered_order_products.sum(:quantity) %></th>
                                                <th></th>
                                              </tr>
                                            </tfoot>
                                          </table>
                                          
                                        </div>
                                    </div>

                                </div>
                                
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Salida CD</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.distribution_center_out_date %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Fecha Digitación</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.digitation_date %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Fecha Visita Cliente</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.customer_visit_date %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Fecha Programacion</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.order_programmed_date %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Orden de Pickeo</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.picking_order_number %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Cliente</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.customer_client.name %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Documento Respaldo EN</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.delivery_backup_document %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Respaldo Adicional EN</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.delivery_aditional_backup_document %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Observacion EN</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.delivery_observation %></p>
                                    </div>
                                </div>

                    </div>


                    <div class="tab-pane fade" id="op" role="tabpanel" aria-labelledby="op-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Numero OP</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.order_number %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Documento Respaldo OP</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.order_backup_document %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Respaldo Adicional OP</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.aditional_order_backup_document %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Observacion OP</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= @delivered_order.order_observation %></p>
                                    </div>
                                </div>


                    </div>
                </div>
            </div>
        </div>
         
</div>




