<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @reception.customer_id %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @reception.warehouse_id %>
</p>

<p>
  <strong>Rrp number:</strong>
  <%= @reception.rrp_number %>
</p>

<p>
  <strong>Guia aga o fa:</strong>
  <%= @reception.guia_aga_o_fa %>
</p>

<p>
  <strong>Customer reference document:</strong>
  <%= @reception.customer_reference_document %>
</p>

<p>
  <strong>Recepcion backup document:</strong>
  <%= @reception.recepcion_backup_document %>
</p>

<p>
  <strong>Start unload:</strong>
  <%= @reception.start_unload %>
</p>

<p>
  <strong>Finish unload:</strong>
  <%= @reception.finish_unload %>
</p>

<p>
  <strong>Digitation date:</strong>
  <%= @reception.digitation_date %>
</p>

<p>
  <strong>Reception number:</strong>
  <%= @reception.reception_number %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @reception.origin %>
</p>

<p>
  <strong>Recepcion order number:</strong>
  <%= @reception.recepcion_order_number %>
</p>

<p>
  <strong>Reception observation:</strong>
  <%= @reception.reception_observation %>
</p>

<p>
  <strong>Rrp observation:</strong>
  <%= @reception.rrp_observation %>
</p>

<p>
  <strong>Reception order observation:</strong>
  <%= @reception.reception_order_observation %>
</p>

<p>
  <strong>Container seal:</strong>
  <%= @reception.container_seal %>
</p>

<p>
  <strong>Recepcion order date:</strong>
  <%= @reception.recepcion_order_date %>
</p>

<p>
  <strong>Reception order backup document:</strong>
  <%= @reception.reception_order_backup_document %>
</p>

<p>
  <strong>Ctnr code:</strong>
  <%= @reception.ctnr_code %>
</p>

<%= link_to 'Edit', edit_reception_path(@reception) %> |
<%= link_to 'Back', receptions_path %>
