<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
    <li class="breadcrumb-item active">Clientes</li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<h1>Clientes</h1>
<%= link_to 'Agregar Cliente', new_customer_path, class:"btn btn-sm btn-success" %>
<%= link_to 'Actualizar Clientes', import_agunsa_customers_path, method: :post, class:"btn btn-sm btn-warning" %>

<hr>

<div class="table-responsive">


  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Codigo Cliente</th>
        <th>Productos</th>
        <th>Items</th>
        <th>Ubicaciones</th>
        <th>Entregas</th>
        <th>Recepciones</th>

      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td><%= link_to customer.client_code, customer_path(customer) %></td>
          <td><%= link_to customer.products.count, products_path({customer_id: customer}) %></td>
          <td><%= customer.stocks.sum(:quantity) %></td>
          <td><%= customer.warehouse_locations.count %></td>
          <td><%= customer.delivered_orders.count %></td>
          <td><%= customer.receptions.count %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<br>

