<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Clientes', customers_path %></li>
    <li class="breadcrumb-item active"><%= @customer.client_code %></li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<h1> <%= @customer.name %></h1>


<%= link_to 'Importar Productos', import_agunsa_products_path(customer_id: @customer.id), method: :post, class:"btn btn-sm btn-warning" %>
<%= link_to 'Importar Entregas', import_agunsa_delivered_orders_path(customer_id: @customer.id), method: :post, class:"btn btn-sm btn-warning" %>
<%= link_to 'Importar Recepciones', import_agunsa_receptions_path(customer_id: @customer.id), method: :post, class:"btn btn-sm btn-warning" %>
<br><br>

<p>
  <strong>Client code:</strong>
  <%= @customer.client_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Cantidad Productos:</strong>
  <%= link_to @customer.products.count, products_path({customer_id: @customer.id}) %>
</p>
