<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Regiones</th>
      <th>Comunas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.regions.count %></td>
        <td><%= country.communes.count %></td>
        <td><%= link_to 'Show', country %>
        <%= link_to 'Edit', edit_country_path(country) %>
        <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
