<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active">Regiones</li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<h1>Regions</h1>

<div class="table-responsive">
  <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>País</th>
      <th>Nombre</th>
      <th>Codigo SIL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to region.country.name,  %></td>
        <td><%= region.name %></td>
        <td><%= region.sil_code %></td>
        <td><%= link_to 'Ver', region %>
        <%= link_to 'Editar', edit_region_path(region) %>
        <%= link_to 'Borrar', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Region', new_country_region_path(@country) %>
