<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Paises', countries_path %></li>
    <li class="breadcrumb-item"><%= link_to @country.name, country_path(@country) %></li>
    <li class="breadcrumb-item active"><%= @region.name %></li>
  </ol>
</nav>


<p id="notice"><%= notice %></p>

  <h1><%= @region.name %></h1>


<p>
  <strong>Sil code:</strong>
  <%= @region.sil_code %>
</p>
<br>


<h2>Coumunas</h2>
<%= link_to 'Nueva Comuna', new_country_region_commune_path(@country,  @region) %>


<div class="table-responsive">
  <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo SIL</th>

    </tr>
  </thead>

  <tbody>
    <% @communes.each do |commune| %>
      <tr>
        <td><%= commune.name %></td>
        <td><%= commune.sil_code %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
