<p id="notice"><%= notice %></p>

<% if @products.count > 0 %>

<h1>Productos Encontrados</h1>
<%= link_to 'Buscar otro Producto', sku_finder_path, class:"btn btn-sm btn-success" %>


<div class="table-responsive">


  <table class="table table-striped table-sm">
  <thead>
    <form>
    <%= form_tag(products_path, method: :get) %>
    <tr class='filters'>
      <th>Cliente <br>
        <%= select_tag 'customer_id', options_for_select(Customer.all.collect{ |u| [u.name, u.id] }), class: "form-control" %>
      </th>
      <th>SKU <br>
        <%= text_field_tag 'sku', "", class: "form-control" %>
      </th>
      <th>Nombre <br> 
        <%= text_field_tag 'name', "", class: "form-control" %>
      </th>
      <th>Unidades por caja <br>
        <%= text_field_tag 'units_per_box', "", class: "form-control" %>
      </th>
      <th>Peso</th>
      <th>Alto(mm)</th>
      <th>Ancho(mm)</th>
      <th>Largo(mm)</th>
      <th>CXP</th>
      <th>PXP</th>
      <th>PALLET</th>
    </tr>
    <%= submit_tag "buscar" %>
    </form>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.customer.client_code %></td>
        <td><%= link_to product.product_code, product %></td>
        <td><%= product.name %></td>
        <td><%= product.units_per_box %></td>
        <td><%= product.weight %> Kg</td>
        <td><%= product.height %></td>
        <td><%= product.width %></td>
        <td><%= product.depth %></td>
        <td><%= product.boxes_per_pallet_floor %></td>
        <td><%= product.floors_per_pallet %></td>
        <td><%= product.boxes_per_pallet %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div class="row">
  <div class="col">
    <%= will_paginate @products %>
  </div>
</div>


<% else %>

<h1>No se encontraron coincidencias</h1>
<%= link_to 'Buscar otro Producto', sku_finder_path, class:"btn btn-sm btn-success" %>

<% end%>