<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'inicio', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'inicio', warehouses_path %></li>
    <li class="breadcrumb-item active"><%= @warehouse.name %></li>
  </ol>
</nav>



<p id="notice"><%= notice %></p>

<%= link_to 'Importar Ubicaciones', import_agunsa_warehouse_locations_path(warehouse_id: @warehouse.id), method: :post, class:"btn btn-sm btn-warning" %>


  <h1><%= @warehouse.customer.client_code %></h1>

  <h2><%= @warehouse.name %></h2>

  <p>Ubicaciones: <%= link_to @warehouse.warehouse_locations.count, warehouse_locations_path({warehouse_id: @warehouse.id}) %></p>

