<!DOCTYPE html>
<html>
  <head>
    <title>AgunsaEcommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    


    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">AGUNSA</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Inicio <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                  <%= link_to warehouse_report_path, class: "nav-link" do %>
                    <span data-feather="file"></span>
                    Reporte Bodega
                  <% end %>
              </li>
              <li class="nav-item">
                  <%= link_to customers_path, class: "nav-link" do %>
                    <span data-feather="file"></span>
                    Clientes
                  <% end %>
              </li>
              <li class="nav-item">
                <%= link_to products_path, class: "nav-link" do %>
                    <span data-feather="file"></span>
                    Maestro Productos
                  <% end %>
              </li>
              <li class="nav-item">
                <%= link_to warehouses_path, class: "nav-link" do %>
                    <span data-feather="file"></span>
                    Bodegas
                  <% end %>
              </li>
              <li class="nav-item">
                <%= link_to warehouse_locations_path, class: "nav-link" do %>
                    <span data-feather="file"></span>
                    Ubicaciones
                  <% end %>
              </li>
              <li class="nav-item">
                <%= link_to stocks_path, class: "nav-link" do %>
                    <span data-feather="file"></span>
                    Stock
                  <% end %>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>









